@model App_Web.Models.Brand

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="card mb-4">
    <h6 class="card-header">Chỉnh sửa thương hiệu @Model.BrandName</h6>
    <div class="card-body">
        <form method="post" action="/Admin/Brands/Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BrandId"  />
            <input type="hidden" name="id" value="@Model.BrandId" />
            <div class="form-group">
                <label asp-for="BrandName" class="control-label">Tên thương hiệu</label>
                <input asp-for="BrandName" class="form-control" />
                <span asp-validation-for="BrandName" class="text-danger"></span>
            </div>
            <div class="form-group justify-content-center text-center">
                <a class="btn btn-info" href="/Admin/Brands">Trở về danh sách</a>
                <button type="submit" value="Lưu lại" class="btn btn-success">Lưu lại</button>
            </div>
        </form>
    </div>
</div>

