@model App_Web.Models.Category

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card mb-4">
    <h6 class="card-header">Tạo danh mục</h6>
    <div class="card-body">
        <div class="col-md-4">
            <form method="post" action="/Admin/Categories/Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CategoryName" class="control-label"></label>
                    <input asp-for="CategoryName" class="form-control" />
                    <span asp-validation-for="CategoryName" class="text-danger"></span>
                </div>
                <div class="form-group justify-content-center text-center">
                    <button type="reset" class="btn btn-primary">Hủy bỏ</button>
                    <button type="submit" class="btn btn-success">Tạo</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <a href="/Admin/Categories/Index" class="btn btn-info">Quay lại danh sách</a>
    </div>
</div>
