@model App_Web.Models.LoginViewModel

@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<style>
    .card-container {
        position: absolute;
        width: 900px;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    body {
        background-color: #fbfbfb;
    }
</style>
<div class="container ">
<div class="card card-container">
    <div class="card-body">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form id="registerForm" href="/login?returnUrl=@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
                        
                <h4>Đăng nhập</h4>
                <a href="/Home/Index" class="btn btn-success">Trở về trang chủ</a>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserNameOrEmail" class="control-label"></label>
                    <div class="col-md-12">
                        <input asp-for="UserNameOrEmail" class="form-control" />
                        <span asp-validation-for="UserNameOrEmail" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <div class="col-md-12">
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-12">
                        <div class="checkbox">
                            <label asp-for="RememberMe">
                                <input asp-for="RememberMe" />
                                @Html.DisplayNameFor(m => m.RememberMe)
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group pt-2 pb-2">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </div>
                <p>
                    <a href="/register?returnUrl=@ViewData["ReturnUrl"]">Bạn chưa có tài khoản ? Đăng kí ở đây </a>
                </p>
            </form>
        </div>
    </div>
</div>
</div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
