
<div class="footer">
    <div class="grid wide">
        <div class="row">
            <div class="col l-4 m-6 s-12">
                <h3 class="footer__title">Menu</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="/Home/GetProductsByCategory?categoryId=5" class="footer__link">Áo và quần</a>
                    </li>
                    <li class="footer__item">
                        <a href="/Home/GetProductsByCategory?categoryId=2" class="footer__link">Giày</a>
                    </li>
                    <li class="footer__item">
                        <a href="/Home/GetProductsByCategory?categoryId=4" class="footer__link">Nón</a>
                    </li>
                    <li class="footer__item">
                        <a href="/Home/GetProductsByCategory?categoryId=3" class="footer__link">Áo choàng</a>
                    </li>
                </ul>
            </div>
            <div class="col l-4 m-6 s-12">
                <h3 class="footer__title">Liên hệ</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <span class="footer__text">
                            <i class="fas fa-map-marked-alt"></i> VietNam
                        </span>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">
                            <i class="fas fa-phone"></i> 011223344
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">
                            <i class="fas fa-envelope"></i> hoantrong@gmail.com
                        </a>
                    </li>
                    <li class="footer__item">
                        <div class="social-group">
                            <a href="#" class="social-item">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#" class="social-item">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#" class="social-item">
                                <i class="fab fa-pinterest-p"></i>
                            </a>
                            <a href="#" class="social-item">
                                <i class="fab fa-invision"></i>
                            </a>
                            <a href="#" class="social-item">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col l-4 m-6 s-12">
                <h3 class="footer__title">Đăng kí</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <span class="footer__text">Đăng ký để nhận được được thông tin ưu đãi mới nhất từ chúng tôi.</span>
                    </li>
                    <li class="footer__item">
                        <div class="send-email">
                            <input class="send-email__input" type="email" placeholder="Nhập Email...">
                            <a href="#" class="send-email__link">
                                <i class="fas fa-paper-plane"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyright">
        <span class="footer__text"> &copy Hoan Trong</span>
    </div>
</div>